body{
    background-color: #e2d1b7;
}
.cabeçalho{
    width:100%;
    header>img{
    margin: 0px;
    }
    background-color: #7F7FA3;
}
.navegaçao{
    background-color:#7F7FA3;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 50px;
}
a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
h1{
    color: #333030;
    font-size: 60px;
    border: solid#7F7FA3 10px;
    border-radius: 15px;
    background-color: #7F7FA3;
    border-width: 15px;
    
}
h2{
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    color: #333030;
    font-size: 40px;
    border: solid#9faa82 10px;
    border-radius: 15px;
    margin:0;
   }
.h2{
    width:200px;
    height: 95px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9faa82;
    border: solid 10px#9faa82;
    border-radius: 15px;
    
}
.maps{
    width: 50%;
    height: 50%;
    padding: 30px;
    margin: 30px;
    box-shadow:10px 10px 7px#b1b0af ;
    border:solid #9faa82;
    border-radius:20px;
    background-color: #9faa82;
    box-shadow: #5f5f86;
}
.maps1{
    width: 100%;
    height: 100%;
    border-radius:20px;
}
.central{
    display: flex;
    justify-content: center;
}
.feedback{
    display:flex;
    justify-content: space-around;
}


