
.flip-box {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 25%;
  height: 25%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: var(--purple-600);
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: var(--purple-300);
  color: var(--branco);
  transform: rotateY(180deg);
}